Mechatronics Project Work - Airbnb Listings

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("../Listings/Berlin.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10480 entries, 0 to 10479
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              10480 non-null  int64
 1   name                            10480 non-null  object
 2   host_id                         10480 non-null  int64
 3   host_name                       10477 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   10480 non-null  object
 6   latitude                        10480 non-null  float64
 7   longitude                       10480 non-null  float64
 8   room_type                       10480 non-null  object
 9   price                           5874 non-null   float64
 10  minimum_nights                  10480 non-null  int64
 11  number_of_reviews               10480 non-null  int64
 12  last_review                     9383 non-null   object
 13  reviews_per_month               9383 non-null   float64
 14  calculated_host_listings_count  10480 non-null  int64
 15  availability_365                10480 non-null  int64
 16  number_of_reviews_ltm           10480 non-null  int64
 17  license                         10361 non-null  object
dtypes: float64(5), int64(7), object(6)
memory usage: 1.4+ MB